html,
body,
.app {
	height: 100%;
}

img {
	will-change: opacity;
}

.page {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ffffff; // #7140eb;

	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(191, 208, 226, 1) 100%);
}

.group--main {
	flex: 1 1 calc(100% - 200px);
	max-width: calc(100% - 200px);
	display: flex;
	flex-direction: column;
}

.group--aside {
	width: 200px;
	flex: 0 0 200px;
	border-left: 1px solid currentColor;
	padding: 15px;
}

.group--head {
	height: 90px;
	flex: 0 0 90px;
	margin: 15px;

	.webrtc-stream {
		width: 120px;
		height: 90px;
		margin: 0;

		.btn--muted {
			display: none;
		}
	}
}

.group--streams {
	flex: 1 1 calc(100% - 90px);
	max-height: calc(100% - 90px);
	display: flex;
	flex-wrap: wrap;
	margin: 15px;

	.webrtc-stream {
		width: 400px;
		height: 300px;
		margin: 0 10px 10px 0;
	}
}

.webrtc-stream {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&>video {
		background: #111;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.btn--muted {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 10px;
		bottom: 10px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: none;
		border: none;
		color: white;
		background: black;
		cursor: pointer;

		svg {
			fill: currentColor;
		}
	}
}

.listing--peers {
	padding: 10px 0;

	&>.listing__item {
		font-size: 13px;
		font-weight: 600;
		cursor: pointer;
	}
}

.btn--join {
	display: block;
	background: black;
	color: white;
	padding: 10px;
	font-size: 16px;
	line-height: 1;
}
